<html>
    <head>
        <!-- Default Meta Tags -->
        <meta name="title" content="Serenity Forums - Coding Forum<">
        <meta name="description" content="Promote your projects, tools and code, ask for help in your project, no matter what they're about!">
        <meta name="keywords" content="coding, serenity, forums, code">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="1 days">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Primary Meta Tags -->
        <title>Serenity Forums - Coding Forum</title>
        <meta name="title" content="Serenity Forums - Coding Forum">
        <meta name="description" content="Promote your projects, tools and code, ask for help in your project, no matter what they're about!">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="Serenity Forums - Coding Forum">
        <meta property="og:description" content="Promote your projects, tools and code, ask for help in your project, no matter what they're about!">
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Serenity Forums - Coding Forum">
        <meta property="twitter:description" content="Promote your projects, tools and code, ask for help in your project, no matter what they're about!">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Materialize JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- My CSS & JS-->
        <link rel="stylesheet" href="/static/SerenityForum/home.css">
        <script src="/static/SerenityForum/home.js"></script>
        <script src="/static/SerenityForum/signup.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper purple darken-1">
                <a href="#" class="brand-logo center" style="padding-left:2%;">Serenity</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
		    <li><a href="/login"><i class="material-icons left">key</i>Login</a></li>
                    <li><a href="/signup"><i class="material-icons left">key</i>Sign-up</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            {% if user == None %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign-up</a></li>
            {% elif user %}
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="images/yuna.jpg" alt="" class="circle">
                    <span class="title">{ user['username'] }</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            {% endif %}
        </ul>
        <div class="container">
            <div style="padding-top:4%"></div>
                <div class="row">
                    <form class="col s12" id="regForm" action="" method="post" name="form" target="_blank">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix white-text">account_circle</i>
                                <input id="username" name="username" type="text" class="validate" style="color:#ffffff">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix white-text">input</i>
                                <input id="email" name="email" type="email" class="validate" style="color:#ffffff">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white-text">lock</i>
                                <input id="password" name="password" type="password" class="validate" style="color:#ffffff">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row" id="reservationRow" style="display:none">
                            <div class="input-field col s12">
                                <i class="material-icons prefix white-text">account_circle</i>
                                <input id="reservationkey" name="reservationkey" type="text" class="validate" style="color:#ffffff">
                                <label for="reservationkey">Reservation Key</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn-large waves-effect waves-light purple darken-1 col s5 offset-s4" id="registerFormBtn" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="collection" id="errorDiv" style="display:none">
                            <div class="collection-item active red darken-1">Error<br />Status code: NONE</div>
                        </div>
                    </form>
                </div>
        </div>
    </body>
</html>
